.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}
  
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: yellowgreen;   
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: #52b3d9;
}

.power-pellet {
    background-color: yellowgreen;
    border-radius: 10px;
}
.pac-man{
    background-color: yellow;
    border-radius: 10px;
}
.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;     
}
.scared-ghost {
    background-color: aquamarine;
}
